---
title: Define Environment Variables
owner: Ivan Baldinotti
---

<strong><%= modified_date %></strong>

<%= vars.product_short %> lets you externalize configuration - storing data such as encryption keys or external resource addresses in <a href="../devguide/deploy-apps/environment-variable.html" target="_blank">environment variables</a>.

<div style="text-align:center;margin:3em;">
  <a href="./bind-service.html" class="btn btn-primary">I've set my environment variable</a>
</div>
