---
title: Define Environment Variables
owner: Ivan Baldinotti
---

<strong><%= modified_date %></strong>

<%= vars.product_short %> lets you externalize configuration - storing data such as encryption keys or external resource addresses in <a href="../devguide/deploy-apps/environment-variable.html" target="_blank">environment variables</a>.

At runtime, environment variables are exposed to the application through its environment. You can use these for example to change the default version of Java to 7. Before doing this, the application needs to be pushed with a different version of the buildpack that contains the JRE version we want to use.

<pre class="terminal">
$ cf push my-clojure-app -b https://github.com/cloudfoundry/java-buildpack.git -p target/cf-sample-app-clojure-0.1.0-SNAPSHOT-standalone.jar
</pre>

Then set the `JBP_CONFIG_OPEN_JDK_JRE` environment variable accordingly:

<pre class="terminal">
$ cf set-env my-clojure-app JBP_CONFIG_OPEN_JDK_JRE '{jre: { version: 1.7.0_+ }}'
Setting env variable 'JBP_CONFIG_OPEN_JDK_JRE' to '{jre: { version: 1.7.0_+ }}' for app my-clojure-app in org MyOrg / space MySpace as user@smydomain.com...
OK
TIP: Use 'cf restage' to ensure your env variable changes take effect
</pre>

Then restage your app as suggested using

<pre class="terminal">
$ cf restage my-clojure-app
Restaging app my-clojure-app in org MyOrg / space MySpace as user@mydomain.com...
Cloning into '/tmp/buildpacks/java-buildpack'...
-----> Java Buildpack Version: 73f12f6 | https://github.com/cloudfoundry/java-buildpack.git#73f12f6
       Expanding Open Jdk JRE to .java-buildpack/open_jdk_jre (1.0s)
-----> Downloading Open JDK Like Memory Calculator 2.0.1_RELEASE from https://download.run.pivotal.io/memory-calculator/trusty/x86_64/memory-calculator-2.0.1_RELEASE.tar.gz (found in cache)

-----> Downloaded app package (8.0K)
-----> Downloaded app buildpack cache (2.3M)
-------> Buildpack version 1.5.9

...
</pre>


<div style="text-align:center;margin:3em;">
  <a href="./bind-service.html" class="btn btn-primary">I've set my environment variable</a>
</div>
