---
title: Prepare the App
owner: Ivan Baldinotti
---

<strong><%= modified_date %></strong>

In this step, you will prepare a simple Clojure web application that can be deployed.
Execute the following commands to clone the sample application:

<pre class="terminal">
$ git clone https://github.com/swisscom/cf-sample-app-clojure.git
$ cd cf-sample-app-clojure
</pre>

You now have a functioning git repository that contains a simple Clojure application as well as a `project.clj` file, which contains the metadata used by Leiningen.

<div style="text-align:center;margin:3em;">
  <a href="./deploy.html" class="btn btn-primary">I cloned the App source</a>
</div>
