---
title: Run the App Locally
owner: Ivan Baldinotti
---

<strong><%= modified_date %></strong>

Before running locally, our app needs to be compiled. <a href="http://leiningen.org/" target="_blank">Leiningen</a> reads the `project.clj` file and compiles the jar file with the appropriate Clojure version together with the dependencies.

Run this command in your local directory to compile the application with the dependencies, preparing your system for running the app locally:

<pre class="terminal">
$ lein uberjar
2016-04-05 09:41:09.060:INFO::main: Logging initialized @3611ms
Compiling cf-sample-app-clojure.core
Created /.../cf-sample-app-clojure/target/cf-sample-app-clojure-0.1.0-SNAPSHOT.jar
Created /.../cf-sample-app-clojure/target/cf-sample-app-clojure-0.1.0-SNAPSHOT-standalone.jar
</pre>

Once the application is compiled with all dependencies, you will be ready to run your app locally using the command

<pre class="terminal">
$ lein run
</pre>

Open [http://localhost:3000](http://localhost:3000) with your web browser. You should see your app running locally.

To stop the app from running locally, in the CLI, press `Ctrl+C` to exit.

<div style="text-align:center;margin:3em;">
  <a href="./push-changes.html" class="btn btn-primary">I can run my App locally</a>
</div>
